@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  /* background-color: #181818; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.row-flex{
  @apply flex justify-center items-center
}

.mark{
  @apply border-[1px] border-red-800
}

.main-container{
  @apply h-[90%] max-h-[1000px] w-[100%] max-w-[1400px]  mx-auto row-flex 
}

.main-sub-container{
  @apply w-[50%] h-full 
}

@media(max-width:1000px){
  .main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    border:1px solid blue
  }
  .main-sub-container{
    width:100% ;
    height:90vh ;
    display: flex;
    flex-direction: column-reverse;
  }
}

.board-container{
  @apply w-full h-[65%] 
}

.io-container-main{
  @apply h-[35%] w-full  row-flex
}

.io-container-sub{
  @apply w-[50%] h-full  
}
.navbar-main{
  @apply w-full h-[10%] max-h-[100px] flex justify-between items-center px-[1%]
}

.compiler-container{
  @apply h-full w-full flex flex-col justify-center items-center
}

.compiler-options-bar{
  @apply h-[10%] max-h-[60px] w-full  
}

.editor-container{
  @apply  grow w-full 
}

.main-dropdown-container{
}

.loading-animation{
  border-top : 3px solid white;
  animation : loading 1s infinite linear ;
}

@keyframes loading {
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

.home-button{
  @apply max-w-[300px] w-[80%] md:w-[80%] p-[10px] bg-cyan-200 rounded-[5px] font-bold
}

.login-button{
  @apply p-[10px] bg-cyan-200 rounded-[5px] font-bold
}

.home-form-container{
  @apply max-h-[350px] max-w-[550px] h-[40%] w-[80%] md:w-[35%] flex flex-col justify-center items-center rounded-[5px] p-[20px] mb-[10px] bg-gray-700
}

.login-form-container{
  @apply  max-w-[450px] w-[80%] md:w-[35%] flex flex-col justify-center items-center rounded-[5px] p-[20px] py-[30px] mb-[10px] bg-gray-700
}
.code-snippet-modal-container{
  @apply  max-w-[1050px] w-[95%] md:w-[65%] flex flex-col justify-center items-center rounded-[5px] p-[20px] py-[30px] mb-[10px] bg-gray-700
}

.navbar-link{
  @apply text-[1rem] text-gray-300 font-bold cursor-pointer underline
}